.todolist-main {
    display: grid;
    row-gap: 10px;

    .form-wrapper {
        display: grid;
        grid-template-columns: 1fr 80px;
        column-gap: 5px;
    }
    .table-main {
        /* Layouts */
        display: grid;
        grid-template-rows: 50px;
        grid-auto-rows: 30px;
        row-gap: 5px;

        .header-wrapper {
            /* Layouts */
            display: grid;
            grid-template-columns: 1fr 170px;
            place-items: center;
            border: 1px solid $black-color;

            span {
                font-weight: bold;
            }
        }
        
        .row-wrapper { 
            /* Layout */
            display: grid;
            grid-template-columns: 1fr repeat(2, 80px);
            column-gap: 5px;
            align-items: center;
        }
    }
}